#boton {
    background-color: rgb(178, 208, 171);
    padding: 10px;
    margin-top: 10px;
    transition-duration: 0.2s;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}

#boton:hover {
    background-color: orange;
}